<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <style>
        body{
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        div{
            width: 70%;
            height: 300px;
            color: aliceblue;
            background-color: salmon;
            padding: 10px;
            border-radius: 12px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Today day is <%= displayDate %></h1>
        <h2>Hey Everyone It,s <%= dayType %> and <%= advice  %></h2>

    </div>
    
</body>
</html>